<ion-view>

  <ion-nav-title><img src="img/logo_white.png"></ion-nav-title>
  <ion-content>


    <ul class="list">
      <li class="item" onclick="cordova.InAppBrowser.open('http://wanthaver.com', '_system'); return false;">
        {{'ABOUT_WEBSITE' | translate}}
      </li>
      <li class="item" onclick="cordova.InAppBrowser.open('http://wanthaver.com/agbs.html', '_blank', 'location=no'); return false;">
        {{'ABOUT_AGB' | translate}}
      </li>
      <li class="item" ui-sref="app.licenses">
        {{'ABOUT_LICENSES' | translate}}
      </li>
    </ul>

  </ion-content>
</ion-view>
