<ion-view view-title="Choose a Category">
    <ion-content>
        <ion-list>
            <ion-item class="item-text-wrap row-no-padding" ng-repeat="category in feed">
                <div class="row row-no-padding" ng-click="selectCategory(category)">
                    <div class="category-image"><img ng-src="{{category.image.lowRes}}"></div>
                    <div class="padding category-name">{{category.name | shorten}}</div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
