<ion-modal-view>
    <ion-header-bar>
        <h1 class="title category-title">{{ 'CATEGORYLIST_TITLE' | translate }}</h1>
        <button class="button category-cancel-button" ng-click="modal.hide()">{{ 'CATEGORYLIST_CANCEL' | translate }}</button>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <ion-item class="item-text-wrap row-no-padding" ng-repeat="category in feed">
                <div class="row row-no-padding" ng-click="selectCategory(category)">
                    <div class="col col-10">
                       <img class="category-list-image" ng-src="{{category.image.lowRes}}">
                    </div>
                    <div class="col col-90">
                        <div class="padding category-name">{{category.name}}</div>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-modal-view>
