<ion-view view-title="{{otherUser.name}}">
  <ion-content delegate-handle="msgList" class="chat-list">
    <ion-refresher
            on-refresh="loadMore()">
    </ion-refresher>
    <ion-list style="margin-bottom:20px;">
      <ion-item class="chat-message-wrapper item-text-wrap row-no-padding"
                ng-class="{'from-me-wrapper': msg.from==currentUser.id}"
                ng-repeat="msg in messages | unique:'objectId'">

          <div class="chat-message" ng-class="{'from-me': msg.from==currentUser.id}"><pre>{{msg.body}}</pre></div>
      </ion-item>
    </ion-list>



  </ion-content>

  <ion-footer-bar align-title="left" class="chat-footer" keyboard-attach>
    <div class="item-input-inset chat-textfield-wrapper" style="z-index:9999">
      <label class="item-input-wrapper">

        <textarea id="input" rows="1" msd-elastic ng-model="msg" placeholder="{{ 'CHAT_YOUR_MESSAGE' | translate }}">

        </textarea>

      </label>
      <button class="button button-positive button-clear" ng-click="sendMsg(msg)" data-tap-disabled="true" >

        Send
      </button>
    </div>
  </ion-footer-bar>


</ion-view>
