<ion-view view-title="Chats">
    <ion-content>
        <ion-list>
            <ion-item class="list-item item-text-wrap row-no-padding" ng-repeat="chat in feed" ng-if="chat.otherUser != undefined && chat.desire != null" href="#/app/messages/{{chat.objectId}}">
                <div class="row row-no-padding">
                    <div class="col col-25">
                        <div class="item-image"><img ng-src="{{chat.otherUser.image.lowRes}}"></div>
                    </div>
                    <div class="col col-60 padding">
                        <h1>{{chat.otherUser.name}}</h1>
                        <div class="desire-description">{{chat.desire.title | shorten}}</div>
                    </div>
                    <div class="row row-no-padding">
                        <div class="text-align-right">
                            <span am-time-ago="chat.updatedAt"></span>
                        </div>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
