<ion-view view-title="Chats">
    <ion-content>
        <ion-list>
            <ion-item class="chat-list-item item-text-wrap row-no-padding">
                {{chat}}
                aaaaa
                <!--
                <div class="row">
                    <div class="col col-25">
                        <div class="desire-img"><img ng-src="{{desire.image.lowRes}}"></div>
                    </div>
                    <div class="col col-60">
                        <h1>{{desire.title}}</h1>
                        <div class="desire-description">{{desire.description | shorten}}</div>
                    </div>
                    <div class="col col-15">
                        <div class="desire-price">{{desire.price}}{{desire.currency | currency}}</div>
                    </div>
                </div>
                !-->
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
