<ion-view>
  <ion-nav-title>{{obj.title}}</ion-nav-title>
  <ion-content class="desire-create" scroll="false">


    <ion-slide-box on-slide-changed="slideHasChanged($index)">
      <ion-slide prevent-drag>
        <label class=" item-input item-floating-label">
          <span class="input-label">{{ 'DESIRECREATE_TITLE' | translate }}</span>
          <input type="text" maxlength="50" ng-model="desire.title" placeholder="Titel">
        </label>

        <label class=" item-input item-floating-label">
          <span class="input-label">{{ 'DESIRECREATE_DESCRIPTION' | translate }}</span>
          <span class="desc-char-counter" ng-class="{'red-font' : desire.description.length == 300}">
            ({{(desire.description == undefined) ? 0 : desire.description.length }}/300)
          </span>
          <textarea ng-model="desire.description" class="create-description" placeholder="{{ 'DESIRECREATE_DESCRIPTION_PLACEGOLDER' | translate }}" maxlength="300"></textarea>
        </label>
          <div class="item range range-positive">
              <span class="input-label expiration-label">{{ 'DESIRECREATE_EXPIRE' | translate }} {{dateSlider.date}} {{dateSlider.name}}</span>
              <input type="range" name="volume" min="1" max="24" ng-model="dateSlider.date">
          </div>
          <li class="item" style="padding:0;">
              <ion-radio ng-model="dateSlider.name" ng-value="'Hours'">{{ 'DESIRECREATE_EXPIRE_HOURS' | translate }}</ion-radio>
              <ion-radio ng-model="dateSlider.name" ng-value="'Days'">{{ 'DESIRECREATE_EXPIRE_DAYS' | translate }}</ion-radio>
          </li>
      </ion-slide>

      <ion-slide>

        <div class="row">
          <div class="col col-50">
            <label class=" item-input item-floating-label">
              <span class="input-label">{{ 'DESIRECREATE_PRICE' | translate }}</span>
              <input type="tel" maxlength = "3" ng-model="desire.price" placeholder="{{ 'DESIRECREATE_PRICE' | translate }}">
            </label>
          </div>
          <div class="col col-50">
          <label class="item item-input item-select">
            <div class="input-label">
              {{currency}}
            </div>
            <select ng-model="selectedCurrency" ng-change="currencyChanged(selectedCurrency)">
              <option selected>€</option>
              <option>$</option>
              <option>£</option>
            </select>
          </label>
          </div>
        </div>

        <button class="button button-clear button-positive button-icon ion-plus-round button-select-category" ng-click="openModal()">
          &nbsp;{{ 'DESIRECREATE_CATEGORY' | translate }}
        </button>
        <div class="row row-no-padding" ng-show="category != null">
          <div class="category-image"><img ng-src="{{category.image.lowRes}}"></div>
          <div class="padding category-name">{{category.name}}</div>
        </div>

        <div class="desire-img" ng-click="pickImage()">
          <img ng-if="!hasUploaded" ng-src="{{(category != undefined)? category.image.lowRes : 'img/ionic.png'}}" >
          <img ng-if="hasUploaded" ng-src="{{desire.image.fullRes}}" >
          <ion-spinner ng-show="isUploading" class="spinner-upload-image spinner-positive" icon="android"></ion-spinner>
        </div>


        </label>
      </ion-slide>

      <ion-slide>
        <div class="box">
            <label class=" item-input item-floating-label">
                <span class="input-label">Location</span>
                <input type="text" maxlength="50" ng-model="desire.dropzone_string" placeholder="Location">
            </label>
        </div>

        <!--
          <div class="list">
              <div class="item range range-positive">
                  <span class="input-label">{{(dateSlider - (dateSlider%24))/24}} Days {{dateSlider%24}} Hours </span>
                  <input type="range" name="volume" min="1" max="504" ng-model="dateSlider">
              </div>
          </div>
        -->

            <!--
          <li class="item item-toggle">
              Expiration in Days
              <label class="toggle toggle-assertive" >

                  <input type="checkbox" ng-change="toggleChange()" ng-model="value">
                  <div class="track">
                      <div class="handle">
                      </div>
                  </div>
              </label>
          </li>
          <div class="item range range-positive">
              <span class="input-label">{{dateSlider2}} {{dateName}}</span>
              <input type="range" name="volume" min="0" max="24" ng-model="dateSlider2">
          </div>
        -->




      </ion-slide>

    </ion-slide-box>
  </ion-content>
</ion-view>
