<ion-view view-title="{{title}}">
  <ion-content class="desire-create" scroll="false">


    <ion-slide-box on-slide-changed="slideHasChanged($index)">
      <ion-slide>
        <label class=" item-input item-floating-label">
          <span class="input-label">Titel</span>
          <input type="text" maxlength="50" ng-model="desireTitle" placeholder="Titel">
        </label>

        <label class=" item-input item-floating-label">
          <span class="input-label">Description</span>
          <span class="desc-char-counter" ng-class="{'red-font' : desireDescription.length == 300}">
        ({{(desireDescription == undefined) ? 0 : desireDescription.length }}/300)
      </span>
          <textarea ng-model="desireDescription" class="create-description" placeholder="Description (max 300 Characters)" maxlength="300"></textarea>
        </label>
      </ion-slide>

      <ion-slide>

        <div class="row">
          <div class="col col-50">
            <label class=" item-input item-floating-label">
              <span class="input-label">Price</span>
              <input type="tel" maxlength = "3" ng-model="desirePrice" placeholder="Price">
            </label>
          </div>
          <div class="col col-50">
          <label class="item item-input item-select">
            <div class="input-label">
              {{currency}}
            </div>
            <select ng-model="selectedCurrency" ng-change="currencyChanged(selectedCurrency)">
              <option selected>€</option>
              <option>$</option>
              <option>£</option>
            </select>
          </label>
          </div>
        </div>

        <button class="button button-clear button-positive button-icon ion-plus-round" ng-click="openModal()">
          &nbsp;Select a Category
        </button>
        <div class="row row-no-padding" ng-show="filterSetting.category != null">
          <div class="category-image"><img ng-src="{{filterSetting.category.image.lowRes}}"></div>
          <div class="padding category-name">{{filterSetting.category.name}}</div>
        </div>

        <div class="desire-img"><img ng-src="{{(filterSetting.category != undefined)? filterSetting.category.image.lowRes : 'img/ionic.png' }}" >
        </div>
        </label>
      </ion-slide>

      <ion-slide>
        <div class="box"><h1>Create Desire: Step 3</h1></div>
      </ion-slide>

    </ion-slide-box>
  </ion-content>
</ion-view>
