<ion-view view-title="{{title}}">
  <ion-content class="desire-create" scroll="false">


    <ion-slide-box on-slide-changed="slideHasChanged($index)">
      <ion-slide>
        <label class=" item-input item-floating-label">
          <span class="input-label">{{ 'DESIRECREATE_TITLE' | translate }}</span>
          <input type="text" maxlength="50" ng-model="desire.title" placeholder="Titel">
        </label>

        <label class=" item-input item-floating-label">
          <span class="input-label">{{ 'DESIRECREATE_DESCRIPTION' | translate }}</span>
          <span class="desc-char-counter" ng-class="{'red-font' : desire.description.length == 300}">
        ({{(desire.description == undefined) ? 0 : desire.description.length }}/300)
      </span>
          <textarea ng-model="desire.description" class="create-description" placeholder="{{ 'DESIRECREATE_DESCRIPTION_PLACEGOLDER' | translate }}" maxlength="300"></textarea>
        </label>
        <label class="time item-input item-floating-label">
          <span class="input-label">{{ 'DESIRECREATE_DATE' | translate }}</span>
          <input type="date" ng-model="date.date" placeholder="{{ 'DESIRECREATE_DATE' | translate }}" ng-class="{'date-not-empty': date.date != undefined}">
          <input type="time" ng-model="date.time">
        </label>
      </ion-slide>

      <ion-slide>

        <div class="row">
          <div class="col col-50">
            <label class=" item-input item-floating-label">
              <span class="input-label">{{ 'DESIRECREATE_PRICE' | translate }}</span>
              <input type="tel" maxlength = "3" ng-model="desire.price" placeholder="{{ 'DESIRECREATE_PRICE' | translate }}">
            </label>
          </div>
          <div class="col col-50">
          <label class="item item-input item-select">
            <div class="input-label">
              {{currency}}
            </div>
            <select ng-model="selectedCurrency" ng-change="currencyChanged(selectedCurrency)">
              <option selected>€</option>
              <option>$</option>
              <option>£</option>
            </select>
          </label>
          </div>
        </div>

        <button class="button button-clear button-positive button-icon ion-plus-round button-select-category" ng-click="openModal()">
          &nbsp;{{ 'DESIRECREATE_CATEGORY' | translate }}
        </button>
        <div class="row row-no-padding" ng-show="category != null">
          <div class="category-image"><img ng-src="{{category.image.lowRes}}"></div>
          <div class="padding category-name">{{category.name}}</div>
        </div>

        <div class="desire-img"><img ng-src="{{(category != undefined)? category.image.lowRes : 'img/ionic.png' }}" >
        </div>
        </label>
      </ion-slide>

      <ion-slide>
        <div class="box"> <label class=" item-input item-floating-label">
          <span class="input-label">Location</span>
          <input type="text" maxlength="50" ng-model="desire.dropzone_string" placeholder="Location">
        </label>
        </div>
        <!--<button class="button button-full button-positive" ng-click="create(desire)">
          Upload Desire
        </button>-->
      </ion-slide>

    </ion-slide-box>
  </ion-content>
</ion-view>
