<ion-view>
  <ion-nav-title><img ng-if="obj.location == ''" src="img/logo_white.png">{{obj.location}}</ion-nav-title>
  <ion-content overflow-scroll="true">
    <ion-refresher
            on-refresh="loadDesires()">
    </ion-refresher>
    <ion-list>
      <ion-item class="list-item item-text-wrap row-no-padding" ng-repeat="desire in feed" href="#/app/desiredetail/{{desire.id}}">


        <div class="row desire-info row-no-padding">
          <div class="col col-100 text-align-right">
            <span>{{desire.creator.name}}</span>
            <span ng-bind-html="desire.creator.rating | rating | unsafe"></span>
          </div>
        </div>

        <div class="row row-no-padding">
          <div class="col col-25">
            <div class="desire-img"><img ng-src="{{desire.image.lowRes}}"></div>
          </div>
          <div class="col col-60 padding">
            <h1>{{desire.title}}</h1>
            <div class="desire-description">{{desire.description | shorten}}</div>
          </div>
          <div class="col col-15">
            <div ng-if="!desire.biddingAllowed" class="desire-price">{{desire.price}}<span class="currency-symbol">{{desire.currency | currency}}</span></div>
            <div ng-if="desire.biddingAllowed" class="desire-price desire-bidding">{{ 'BIDDING' | translate}}</div>
          </div>
        </div>

        <div class="row desire-info row-no-padding margin-top">
          <div class="col col-50">
            <span am-time-ago="desire.creation_time"></span>
          </div>
          <div class="col col-50 text-align-right">
              {{desire.distanceToUserPosition | formatKm}}
          </div>
        </div>

      </ion-item>
    </ion-list>
    <ion-infinite-scroll
            on-infinite="loadMore()"
            distance="1%">
    </ion-infinite-scroll>
  </ion-content>

  <button class="round-overlay-button bottom-center primary button button-icon ion-plus-round light" ui-sref="app.desirecreate"></button>

  <div class="loading-wrapper" ng-show="showLoadingAnimation">
    <ion-spinner icon="ripple" class="spinner-positive spinner-desire"></ion-spinner>
    <span>{{'LOADING_DESIRES' | translate}}</span>
  </div>

  <div class="loading-wrapper" ng-show="feed.length == 0">
    <h1>{{'NO_DESIRES_TITLE' | translate}}</h1>
    <span ng-show="!isMy">{{'NO_DESIRES_DESC' | translate}}</span>
    <span ng-show="isMy">{{'NO_MY_DESIRES_DESC' | translate}}</span>
  </div>

</ion-view>
