<ion-view view-title="{{ 'FILTERSETTING_TITLE' | translate }}">
    <ion-content>
        <button class="button button-clear button-positive button-icon ion-edit" ng-click="openModal()">&nbsp;{{ 'FILTERSETTING_CATEGORY' | translate }}</button>
        <div class="row row-no-padding" ng-show="filterSetting.category != null">
            <div class="category-image"><img ng-src="{{filterSetting.category.image.lowRes}}"></div>
            <div class="padding category-name">{{filterSetting.category.name}}</div>
        </div>
        
        <label class="item item-input">
            <input type="tel" placeholder="{{ 'FILTERSETTING_MINPRICE' | translate }}" ng-model="filterSetting.minPrice">
            <input type="tel" placeholder="{{ 'FILTERSETTING_MAXPRICE' | translate }}" ng-model="filterSetting.maxPrice">
        </label>

        <div class="padding">
            {{ 'FILTERSETTING_MINRATING' | translate }}
            <ionic-ratings class="ionic_rating_icon_on" ratingsobj='ratingsObject'></ionic-ratings>
        </div>

        <span class="padding">{{ 'FILTERSETTING_RADIUS' | translate }}</span>
        <div class="item range">
            <input ng-model="filterSetting.radius" type="range" name="filterSetting.radius" min="0" max="100" value="100">
            <span ng-if="filterSetting.radius != null">{{filterSetting.radius}}km</span>
        </div>

        <button class="button button-outline button-positive button-full" ng-click="applyFilter()" >{{ 'FILTERSETTING_APPLY' | translate }}</button>
        <button class="button button-outline button-positive button-full" ng-click="resetFilter()" >{{ 'FILTERSETTING_RESET' | translate }}</button>
    </ion-content>
</ion-view>
