<ion-view>

  <ion-nav-title>Software-Lizenzen</ion-nav-title>
  <ion-content>

    <div class="license-text">

      <h1>Category Icons</h1>
      <p>Icon made by Freepik from www.flaticon.com</p>


      <h1>cordova-plugin-googlemaps</h1>
      <p>
        Apache License Version 2.0<br>
        https://github.com/mapsplugin/cordova-plugin-googlemaps
      </p>

      <h1>Google Maps SDK</h1>
      <p>
      {{getMapLicense()}}
      </p>

      <h1>cordova-plugin-geolocation</h1>
      <p>
        Apache License Version 2.0<br>
        https://github.com/apache/cordova-plugin-geolocation
      </p>


      <h1>cordova-plugin-camera</h1>
      <p>
        Apache License Version 2.0<br>
        https://github.com/apache/cordova-plugin-camera
      </p>

      <h1>cordova-plugin-inappbrowser</h1>
      <p>
        Apache License Version 2.0<br>
        https://github.com/apache/cordova-plugin-inappbrowser
      </p>


    </div>


  </ion-content>
</ion-view>
