<ion-view hide-nav-bar="true">

  <ion-content>

    <div class="logo-wrapper">
      <img src="img/logo.png">
    </div>

    <form ng-submit="doLogin()">
      <div class="list login-form">
        <label class="item item-input item-floating-label">
          <span class="input-label">Email</span>
          <input type="text" ng-model="loginData.username" placeholder="Email">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password" placeholder="Password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
