<ion-modal-view   ng-controller="MapCtrl" class="map-view" cache-view="false">
    <ion-header-bar>
        <h1 class="title">Choose a Location</h1>
    </ion-header-bar>
    <ion-content scroll="false">

        <div id="map_canvas">
            <div class="map-inner-wrapper" ng-click="showConfirm()">
                <div id="searchBox">
                    no location
                </div>
            </div>

            <button class="button button-positive map-btn-location" ng-click="finish()">
                {{ 'MAP_BUTTON' | translate }}
            </button>

        </div>

    </ion-content>

</ion-modal-view>
