<ion-view view-title="{{ 'MENU_SETTINGS' | translate }}">
  <ion-content class="settings">
    <div class="user-image" ng-click="changeUserImage()">
      <img ng-src="{{(user.img != undefined)? user.img.lowRes : 'img/ionic.png'}}"></div>
    </div>

      <div class="list reset-form padding">
        <label class="username item-input item-floating-label">
          <span class="input-label">{{ 'SETTINGS_NAME' | translate }}</span>
            <input type="text" ng-model="user.name">
        </label>
        <label class="email item-input item-floating-label">
          <span class="input-label">{{ 'SETTINGS_EMAIL' | translate }}</span>
          <input type="email" ng-model="user.email">
        </label>
        <label class="padding item-input changeUserNameAndEmail">
          <button class="button  button-block icon-left ion-checkmark-round button-positive button-change" ng-click="changeUserNameAndEmail()">
            Änderungen übernehmen
          </button>
        </label>
      </div>


        <label class="item">
          <h3 class="title">{{ 'SETTINGS_PWRESET_TITLE' | translate }}</h3>
          <h4 class="title">{{ 'SETTINGS_PWRESET_MESSAGE' | translate }}</h4>
          <button class="button button-block button-positive" type="button" ng-click="resetPw()">
            {{ 'SETTINGS_PWRESET_BUTTON' | translate }}
          </button>
        </label>
      </div>
  </ion-content>
</ion-view>
