<ion-view hide-nav-bar="true">

  <ion-content class="login-content" >

    <div class="logo-wrapper">
      <img src="img/logo_white.png">
    </div>

    <form ng-submit="doSignup()" class="signup-form">
      <div class="list login-form">
        <label class="item item-input item-floating-label">
          <span class="input-label">Email</span>
          <input type="email" ng-model="signupData.email" placeholder="Email">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Password</span>
          <input type="password" ng-model="signupData.password" placeholder="Password">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Username</span>
          <input type="text" ng-model="signupData.name" placeholder="Your Username">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Date of Birth</span>
          <input type="date" ng-model="signupData.birthday" placeholder="Date of Birth" ng-class="{'date-not-empty': signupData.birthday != undefined}">
        </label>
        <div class="out-terms-wrapper">
          <label class="item terms-check">
            <ion-checkbox ng-model="agree">I agree with the</ion-checkbox>
          </label>
          <div class="terms-wrapper">
            <a target="_blank" href="" onclick="window.open('http://wanthaver.com/agbs.html', '_system'); return false;">Terms of Use</a>
          </div>
        </div>

        <label class="item">
          <button ng-disabled="!agree" class="button button-block button-outline button-light" type="submit">Join us.</button>
        </label>
        <label class="item no-padding">
          <button class="button button-clear button-light" type="submit" ui-sref="app.login">Already have an account?</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
