<ion-view view-title="Startup" hide-nav-bar="true">
  <ion-content scroll="false">

    <video class="bgvideo" autoplay loop webkit-playsinline playsinline>
      <source src="img/video.mp4" type='video/mp4; codecs="h.264"' >
    </video>

    <div class="logo-startup">
      <img src="img/logo.png">
    </div>

    <div class="signup-login-wrapper">
      <button class="button button-positive" ui-sref="app.signup">Join Us.</button>
      <button class="button button-outline button-positive" ui-sref="app.login">Sign In.</button>
    </div>
  </ion-content>
</ion-view>
