.button.category-cancel-button {
  font-size: 17px;
  border-color: transparent;
  background: none;
  background-color: transparent;
  box-shadow: none;
}

.category-title {
  left: auto !important;
}

.category-image img {
  width: 100%;
  border-radius: 100%;
}

.category-name {
  font-size: 15px;
  margin: 5px;
}

.category-item{
  padding-left:5px;
}