.button.category-cancel-button {
  font-size: 17px;
  border-color: transparent;
  background: none;
  background-color: transparent;
  box-shadow: none;
}

.category-title {
  left: auto !important;
}