.chat-message{
  padding: 7px;
  background: $primary;
  display: inline-block;
  margin: 3px;
  border-radius: 5px;
  max-width: 70%;
  color: #fff;
  text-align: left;
}

.chat-message pre{
  font-family: "Estandar";
}

.chat-message-wrapper {
  border: none;
  margin-left: 10px;
  margin-right: 10px;
}

.chat-message-wrapper.from-me-wrapper {
  text-align: right;
}

.chat-message.from-me {
  background: #fff;
  color: $primary;
  border: 1px solid $primary;
}

.msg-sending{
  border: 1px solid #888;
  color: #888;
}

.chat-date-wrapper {
  position: absolute;
  top: 3px;
  right: 5px;
  font-size: 14px;
  color: #888;
}

.chat-list .item-image img {
  border-radius: 100%;
  max-width: 65px;
}

.chat-list h1 {
  margin-bottom: 5px;
}


.chat-textfield-wrapper{
  width:100%;
  padding:0;
  padding-left: 5px
}

.chat-list .scroll{
  min-height:100%;
}

.chat-textfield-wrapper button i{
  font-size: 12px;
}

.chat-textfield-wrapper textarea{
  background: rgba(0,0,0,0);
  width:100%;
  min-height:35px;
  max-height:100px;
  padding-top:10px;
  max-height:200px;
}

.chat-footer{
  height: auto;
}

.chat-spinner svg{
  color: $primary;
  width: 15px;
  height: 15px;
}