.chat-message {
  padding: 7px;
  background: #FF6C17;
  display: inline-block;
  margin: 3px;
  border-radius: 5px;
  max-width: 70%;
  color: #fff;
  text-align: left;
}

.chat-message-wrapper {
  border: none;
  margin-left: 10px;
  margin-right: 10px;
}

.chat-message-wrapper.from-me-wrapper {
  text-align: right;
}

.chat-message.from-me {
  background: #fff;
  color: #FF6C17;
  border: 1px solid #FF6C17;
}

.msg-sending{
  border: 1px solid #888;
  color: #888;
}