.desire-img img {
  width: 100%;
}

.creator-img img {
  width: 100%;
  height: auto;
}

.list-item h1 {
  font-size: 20px;
  color: $primary;
  font-weight: normal;
}

.desire-info .col {
  color: #888;
  font-size: 14px;
}

.item-complex .item-content, .item-radio .item-content {
  padding: 10px;
}

.desire-price {
  font-size: 24px;
  font-weight: normal;
  color: #555;
  padding-top: 40px;
  width: 50px;
}

.desire-description {
  font-size: 90%;
}

