textarea.create-description {
  border: 1px solid $grey;
  height: 160px;
  width: 90%;
}

span.desc-char-counter {
  position: absolute;
  top: 13px;
  right: 10%;
  color: #888;
}

.location-check-list i.radio-icon.disable-pointer-events.icon.ion-checkmark{
  top:0px;
}

.location-list-address{
  color:#888;
  font-size:80%;
}

.desire-create .item-floating-label{
  margin-bottom:20px;
}

.slider {
  height: 100%;
}

.desire-create .desire-img {
  width: 50%;
  margin-left: 100px;
  margin-top: 70px;
  position:relative;
}

.spinner-upload-image {
  position: absolute;
  top: 50%;
  margin-top: -24px;
  left: 50%;
  margin-left: -24px;
}

.desire-create .category-image img {
  margin-left: 10px;
}

.desire-create .item-select{
  margin-top: 20px;
  width: 135px;
  height: 50px;
  margin-left: -18px;
  font-size: 130%;
}


.desire-create .time {
  margin-top: 50px;
  margin-left: 5px;
}

.desire-create .category-name{
  margin-left: 10px;
}

.desire-create .button-select-category{
  margin-left: 10px;
}

i.radio-icon.disable-pointer-events.icon.ion-checkmark {
  top: -8px;
}

.expiration-label{
  display: inline-block;
  width: 125px;
}

.desire-create .range{
  margin-top: 50px;
}

.currency-select {

}

.desire-image-upload-text{
  text-align: center;
  color: #888;
}
