textarea.create-description {
  border: 1px solid $grey;
  height: 160px;
  width: 90%;
}

span.desc-char-counter {
  position: absolute;
  top: 13px;
  right: 10%;
}

.desire-create .item-floating-label{
  margin-bottom:20px;
}

.slider {
  height: 100%;
}

.desire-create .desire-img {
  width: 50%;
  height: 50%;
  margin-left: 100px;
  margin-top: 70px;
}

.desire-create .category-image img {
  margin-left: 10px;
}

.desire-create .item-select{
  margin-top: 20px;
  width: 135px;
  height: 50px;
  margin-left: -18px
}


.desire-create .time {
  margin-top: 50px;
  margin-left: 5px;
}

.desire-create .category-name{
  margin-left: 10px;
}

.desire-create .button-select-category{
  margin-left: 10px;
}