.desire-img img {
  width:100%;
  border-radius: 100%;
}

.creator-img img {
  width: 100%;
  border-radius: 100%;
}

.list-item h1 {
  font-size: 20px;
  color: $primary;
  font-weight: normal;
}

.desire-detail-image {
  width:100%;
  border-radius: 100%;
  margin-top: 5px;
}

.desire-detail-title {
  margin-top: 30px;
  font-size: 30px;
  line-height: 25px;
}

.rate-icon {
  color: $secondary;
}

.message-icon {
  color: $secondary;
}

.accept-icon {
  color: $secondary;
}

.unaccept-icon {
  color: $secondary;
}

.desire-detail-button {
  margin-top: 5px;
  background-color: $primary;
  font-size: small;
}

.inactive-desire-detail-button {
  margin-top: 5px;
  background-color: $darkgrey;
  font-size: small;
}


.desire-detail-box {
  margin-top: 20px;
  background-color: $grey;
  padding-bottom: 10px;
  padding-top: 10px;
}

.desire-detail h4 {
  color: $primary;
  margin-left: 20px;
  margin-right: 20px;
}

.desire-detail-box p {
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 5px;
}

.desire-detail-price-box {
  margin-top: 25px;
  margin-left: 25%;
  margin-right: 25%;
  background-color: $grey;
  padding-bottom: 10px;
  padding-top: 10px;
}

.desire-detail-creator {
  background-color: $grey;
}

.desire-detail-creator span {
  alignment: center;
}

.desire-detail-creator .creator-name {
  font-size: medium;
}

.desire-detail-creator .rating-element{
  color: $primary;
  font-size: medium;
}

.desire-detail-creator button {
}

.desire-detail-price-box h4 {
  color: $primary;
  text-align: center;
}

.desire-detail-price-box p {
  padding-top: 5px;
  text-align: center;
}

.price-note {
  font-size: large;
}

.haver-img {
  width:100%;
  border-radius: 100%;
}

.desire-detail-haver-list {
  background-color: $secondary;
}

.desire-detail-havers-box .haver-title {
  padding-top: 10px;
}

.haver-name {
  color: $primary;
}

.rating-element{
  color: $primary;
}

.desire-detail-haver-list .name-wapper{
  padding-bottom: 10px;
}

.haver-row-wrapper{
  border-bottom: 1px solid #888;
}

.desire-detail-accepted-haver {
  background-color: $secondary;
}

.reporttitlebar {
  background-color: $primary;
}

.reporttitle {
  color: $light;
  font-size: 20px;
}

.desire-detail .bid {
  padding-left: 100px;
  padding-top: 50px;
  color: $primary;
}