.ionic_rating_icon_on {
  font-size: 35px;
  color: $primary;
}

.ionic_rating_icon_off {
  font-size: 35px;
  color: $grey;
}

.category-image {
  width: 68px;
  padding-left: 10px;
}

.category-list-image {
  width: 100%;
  margin-left: 5px;
  margin-top: 5px;
}

.button.button-positive.button-clear.black {
  color: #444;
}

.input-label.black {
  color: #444;
}