.settings .username{
  margin-top: 20px;
}

.settings .item{
  margin-top: -10px;
}

.settings img {
  margin-left: 27.5%;
  margin-top: 20px;
  width: 45%;
  height: 45%;
  border-radius: 50%;
}

.settings .button{
  margin-top: 10px;
}

.user-image{
  position:relative;
}
