.margin-top{
    margin-top:5px !important;
}

.padding{
    padding:10px !important;
}

video.bgvideo {
    /* width: 100%; */
    height: 100%;
    z-index: 0;
}

.logo-startup{
    z-index: 999;
    width: 100%;
}

.logo-startup img {
    width: 75%;
    margin: 0 auto;
    display: block;
}

.logo-startup {
    z-index: 999;
    position: absolute;
    width: 100%;
    top: 100px;
    left: 0;
}

.signup-login-wrapper {
    position: absolute;
    bottom:0;
    left: 0;
    width: 100%;
    background: rgba(255,255,255,0.9);
    padding-top: 3%;
    padding-bottom:3%;
}

.signup-login-wrapper button{
    width: 45%;
    margin-left: 3%;
}

.login-content {
    background: #FF6C17;
}

.login-content label.item {
    border: none;
    background: none;
}

.desire-img img {
    width: 100%;
}

.creator-img img {
    width: 100%;
    height: auto;
}

.list-item h1 {
    font-size: 20px;
    color: #FF6C17;
    font-weight: normal;
}

.category-image img {
    height: 42px;
    width: 42px;
    margin: 5px;
}

.category-name {
    font-size: 20px;
    font-weight: normal;
    margin: 5px;
}

.desire-detail-image {
    margin-top: 5px;
}

.desire-detail-title {
    margin-top: 30px;
    font-size: 30px;
    line-height: 25px;
}

.desire-detail-title span{

}

.desire-detail-box {
    margin-top: 20px;
    background-color: #e8e8e8;
    padding-bottom: 10px;
    padding-top: 10px;
}

.desire-detail h4 {
    color: #FF6C17;
    margin-left: 20px;
    margin-right: 20px;
}

.desire-detail-box p {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 5px;
}

.desire-detail-price-box {
    margin-top: 25px;
    margin-left: 25%;
    margin-right: 25%;
    background-color: #e8e8e8;
    padding-bottom: 10px;
    padding-top: 10px;
}

.desire-detail-creator {
    background-color: #e8e8e8;
}

.desire-detail-creator span {
    alignment: center;
}

.desire-detail-creator button {
}

.desire-detail-price-box h4 {
    color: #FF6C17;
    text-align: center;
}

.desire-detail-price-box p {
    padding-top: 5px;
    text-align: center;
}

.desire-description {
    font-size: 90%;
}

.item-complex .item-content, .item-radio .item-content {
    padding: 10px;
}

.desire-price {
    font-size: 24px;
    font-weight: normal;
    color: #555;
    padding-top: 40px;
    width: 50px;
}

[nav-bar-transition="ios"] [nav-bar="active"] .bar, [nav-bar-transition="ios"] [nav-bar="entering"] .bar {
    background: #FF6C17;
}

.bar.bar-stable .title {
    color: #fff;
}

.bar-stable .button.button-clear {
    color: #fff;
}

.text-align-right{
    text-align: right;
}

.desire-info .col {
    color: #888;
    font-size: 14px;
}

.rating-element {
    margin-right: 1px;
}

.user-menu-details span {
    padding-top: 27px;
    display: inline-block;
    color: #fff;
    font-size: 20px;
}

.user-menu-details {
    background: #666;
    margin-bottom:20px;
}

.menu-left {
    background: #444;
}

ion-side-menu .item, ion-side-menu .item-content {
    background: #444 !important;
    color: #f7f7f7;
    text-transform: uppercase;
    font-size: 14px;
    border: none;
    padding-left:20px;
}

[nav-bar-transition="ios"] .buttons{
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: color 0 ease-in;
    transition: none;
}

.chat-message {
    padding: 7px;
    background: #FF6C17;
    display: inline-block;
    margin: 3px;
    border-radius: 5px;
    max-width: 70%;
    color: #fff;
    text-align: left;
}

.chat-message-wrapper {
    border: none;
    margin-left: 10px;
    margin-right: 10px;
}

.chat-message-wrapper.from-me-wrapper {
    text-align: right;
}

.chat-message.from-me {
    background: #fff;
    color: #FF6C17;
    border: 1px solid #FF6C17;
}

.msg-sending{
    border: 1px solid #888;
    color: #888;
}

.button.button-positive,
.button.button-positive.activated{
    border-color: transparent;
    background-color: #FF6C17;
    color: #fff;
}

button.button.button-outline.button-positive,
button.button.button-outline.button-positive.activated{
    border-color: #FF6C17;
    color: #FF6C17;
    background:none;
}

button.button.button-outline.button-light, button.button.button-outline.button-light.activated {
    border-color: #fff;
    color: #fff;
    background: none;
}

.logo-wrapper{
    text-align: center;
}

.logo-wrapper img {
    width: 53%;
    margin-top: 50px;
    margin-bottom: 32px;
}

.input-label{
    color: #fff;
}

.login-content input{
    color:#fff;
    border-bottom: 1px solid #fff;
    width: 90%;
}

.login-content ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
}
.login-content :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #fff;
    opacity:  1;
}
.login-content ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #fff;
    opacity:  1;
}
.login-content :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #fff;
}